/* Basic Style */

body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.more {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.more__cover-img {
    width: 100%;
}

.more__info {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .more {
        text-align: center;
    }
}

.main-page_centered {
    display: block;
    width: 400px;
    margin: 0 auto 0;
}

.task__task-name {
    width: 56%;
    display: inline-block;
}

.main-page__tasks {
    margin: 0;
    padding: 0px;
}

.tasks__task,
.main-page__title {
    list-style: none;
}

input,
button {
    outline: none;
}

.main-page__button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.main-page__button:hover {
    color: #3a3A3a;
}

/* Heading */
.main-page__title,
.new-task__add-task {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.main-page__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.main-page__input:focus {
    color: #333;
}

/* New Task */
.new-task__add-task {
    display: block;
    margin: 0 0 20px;
}

#main-page__new-task {
    width: 318px;
}

.main-page__button:hover {
    color: #0FC57C;
}

/* Task list */
.tasks__task {
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.task__wrap {
    padding: 0;
}

.tasks__task>* {
    vertical-align: middle;
}

.main-page__checkbox {
    margin: 0 10px;
}

.task__task-name {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.main-page__input {
    width: 226px
}

.button__delete-btn:hover {
    color: #CF2323;
}

.delete-btn__cover {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-btn__cover:hover {
    transform: rotateZ(0);
}

/* Completed */
.tasks_completed__label {
    text-decoration: line-through #888;
}

/* Edit Task */
.task__input {
    display: none
}

.input_edit-mode {
    display: inline-block;
    width: 224px
}

.task_edit-mode__label {
    display: none;
}